<div class="container bg-secondary p-3 rounded">
    <h1>Decorators Work!</h1>
</div>

<div class="container rounded bg-white">
    <p>What are decorators?</p>
    <p>Decorates refers to a piece of code, that denote the purpose of a class, element , method ie upon which its placed. </p>
    <p>type of decorators.</p>
    <p>Class decorators : decorator that place up on a class ex: &#64;Component(use upon component class), &#64; Pipe(for pipe class),  &#64;Injectable(use upon service class), Directive , Module.</p>
    <p>Property decorator : ex:  &#64;Input, &#64;Output,  &#64;HostBinding.</p>
    <p>Method Decorator : decorator use upon method ex :  &#64;HostListener. ex :  &#64;HostListener('onScroll') onScroll() method. </p>
    <p>Paramenter Decorator : ex: Inject(HttpClient) here inject is paramenter decorator. </p>
</div>
