<div class="row">
    <div class="col-2">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="userObj.email" name = "email">
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="userObj.password" name = "password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1"  >
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <p>{{userObj | json}} </p>
            <button type="submit" class="btn btn-primary" (click)="updateUser()">Edit User</button>
          </form>
    </div>
    <div class="col-2">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">email</th>
                <th scope="col">password</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
                @for (item of userList; track $index) {
                    <tr >
                        <td>{{$index+1}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.password}}</td>
                        <td><button class="btn btn-success" (click)="onEdit(item)">edit</button></td>
                        <td><button class="btn btn-danger" (click)="deleteUser(item.id)">delete</button></td>
                      
                    </tr>
                }
            </tbody>
          </table>
    </div>
</div>




